@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body
{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', 'sans-serif';
    background-color: rgb(201, 201, 201);
}
.banner
{   
    width: 100%;
    height: 70px;    
    background-color: rgb(245, 245, 245);
}
.title
{
    color: black;
    margin : 0 10%;
    line-height: 70px;
}
.content
{
    width: 80%;
    height: 90%;
    text-align: center;
    margin:0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
hr
{
    size: 1px;
    color: rgb(109, 109, 109);
    width: 80%;
}
.info
{
    text-align: left;
    margin-left: 20%;
    margin-top: 5%;
}
.profile
{
    width: 25%;
    float: right;
    margin-right: 20%;
}
.button
{
    background: none;
    width: 20%;
    text-align: center;
    border: 2px solid #000000;
    padding: 2%;
    font-size: 100%;
    border-radius: 50px;
    transition: 1s;
}
.button:hover
{
    background: #000000;
    color: white;
}
.footer
{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 70px;
}
