body
{
    margin: 0;
    padding: 0;
    font-family: Papyrus;
    background-color: rgb(34, 34, 34);
}
.banner
{
    width: 100%;
    height: 10%;
    font-family: Papyrus;
    border-bottom:1px #ffaae3 solid;
}
.content
{
    width: 70%;
    height: 90%;
    text-align: center;
    margin:0 auto;
    background-color: rgb(43, 43, 43);
}
.logo
{
    float: left;
    margin-right: 2%;
    margin-left: 2%;
}
.info
{
    text-align: left;
    margin-left: 20%;
}
.profile
{
    width: 25%;
    float: right;
    margin-right: 20%;
}
.button
{
    background: none;
    width: 20%;
    text-align: center;
    border: 2px solid #ffaae3;
    padding: 2%;
    color: white;
    font-size: 100%;
    border-radius: 50px;
    transition: 1s;
}
.button:hover
{
    background: #f388fd;
}
.footer
{
    border-top:1px #ffaae3 solid;
    width: 100%;
}
